Repository EvertnRS/even4, pull requests merged in 2024-11, with the labels that each got.

#21 End Facade Integration Test
  db/events.csv
  db/sessions.csv
  db/subEvents.csv
  db/users.csv
  src/main/java/br/upe/controller/AttendeeController.java
  src/main/java/br/upe/controller/Controller.java
  src/main/java/br/upe/controller/EventController.java
  src/main/java/br/upe/controller/SessionController.java
  src/main/java/br/upe/controller/SubEventController.java
  src/main/java/br/upe/controller/SubmitArticleController.java
  src/main/java/br/upe/controller/UserController.java
  src/main/java/br/upe/controller/fx/BaseController.java
  src/main/java/br/upe/controller/fx/CertificateScreenController.java
  src/main/java/br/upe/controller/fx/CreateAttendeeScreenController.java
  src/main/java/br/upe/controller/fx/CreateEventScreenController.java
  src/main/java/br/upe/controller/fx/CreateSessionScreenController.java
  src/main/java/br/upe/controller/fx/CreateSubEventScreenController.java
  src/main/java/br/upe/controller/fx/CreateSubmitScreenController.java
  src/main/java/br/upe/controller/fx/EnterSessionScreenController.java
  src/main/java/br/upe/controller/fx/FxController.java
  src/main/java/br/upe/controller/fx/LoginScreenController.java
  src/main/java/br/upe/controller/fx/MainScreenController.java
  src/main/java/br/upe/controller/fx/SessionScreenController.java
  src/main/java/br/upe/controller/fx/SignUpController.java
  src/main/java/br/upe/controller/fx/SubEventScreenController.java
  src/main/java/br/upe/controller/fx/SubmitEventScreenController.java
  src/main/java/br/upe/controller/fx/SubmitScreenController.java
  src/main/java/br/upe/controller/fx/UpdateAttendeeScreenController.java
  src/main/java/br/upe/controller/fx/UpdateEventScreenController.java
  src/main/java/br/upe/controller/fx/UpdateSessionScreenController.java
  src/main/java/br/upe/controller/fx/UpdateSubEventScreenController.java
  src/main/java/br/upe/controller/fx/UpdateSubmitScreenController.java
  src/main/java/br/upe/controller/fx/UserScreenController.java
  src/main/java/br/upe/facade/Facade.java
  src/main/java/br/upe/facade/FacadeInterface.java
  src/test/java/br/upe/ui/AttendeeControllerTest.java
  src/test/java/br/upe/ui/EventControllerTest.java
  src/test/java/br/upe/ui/FacadeIntegrationTest.java
  src/test/java/br/upe/ui/SessionControllerTest.java
  src/test/java/br/upe/ui/SubEventControllerTest.java
  src/test/java/br/upe/ui/UserControllerTest.java
Labels: tests

#22 Add events details
  src/main/java/br/upe/controller/AttendeeController.java
  src/main/java/br/upe/controller/SessionController.java
  src/main/java/br/upe/controller/fx/BaseController.java
  src/main/java/br/upe/controller/fx/CertificateScreenController.java
  src/main/java/br/upe/controller/fx/CreateAttendeeScreenController.java
  src/main/java/br/upe/controller/fx/EnterSessionScreenController.java
  src/main/java/br/upe/controller/fx/MainScreenController.java
  src/main/java/br/upe/controller/fx/SessionScreenController.java
  src/main/java/br/upe/controller/fx/SubEventScreenController.java
  src/main/java/br/upe/controller/fx/SubmitScreenController.java
  src/main/java/br/upe/controller/fx/UpdateAttendeeScreenController.java
  src/main/java/br/upe/facade/Facade.java
  src/main/java/br/upe/facade/FacadeInterface.java
  src/main/java/br/upe/persistence/SubmitArticle.java
Labels: submit article, events, sub-events, sessions, attendee

#34 feat: DatabaseSmokeTest
  .github/workflows/database.yml
  .github/workflows/sonarcloud.yml
  pom.xml
  src/test/java/br/upe/ui/DatabaseSmokeTest.java
  src/test/java/br/upe/ui/JavaFXSmokeTest.java
  src/test/java/br/upe/ui/SmokeTest.java
  src/test/resources/META-INF/persistence.xml
Labels: smoke tests
